.category {
  height: 650px;
  overflow-y: scroll;

  &::-webkit-scrollbar {
    width: 3px;
    background-color: #ddd;
  }
  &::-webkit-scrollbar-track {
    width: 100%;
    background-color: #ddd;
  }
  &::-webkit-scrollbar-thumb {
    width: 100%;
    background-color: $orange;
  }
  &__nav {
    position: sticky;
    top: 0;
    > button {
      display: block;
      width: 100%;
      background-color: $lightOrange;
      padding: 10px 20px;
      position: relative;
      z-index: 1;
      font-size: 24px;
      color: $white;
      font-weight: 600;
      text-align: left;
      border-radius: 5px 5px 0 0;
      &::after {
        content: "\f107";
        font-family: "fontAwesome";
        position: absolute;
        top: 50%;
        right: 20px;
        transform: translateY(-50%);
      }
    }
    ul {
      border: 1px solid #ddd;

      li {
        button {
          cursor: pointer;
          padding: 15px 20px;
          display: block;
          width: 100%;
          text-align: left;
          &.active {
            background-color: $orange;
            color: $white;
          }
          &:hover {
            background-color: $orange;
            color: $white;
          }
        }
        &:not(:last-child) {
          button {
            border-bottom: 1px solid #ddd;
          }
        }
      }
    }
  }
}

@media (max-width: 992px) {
  .category {
    height: auto;
    position: relative;
    z-index: 1;

    &__nav {
      position: relative;
      z-index: 2;
      margin-bottom: 30px;

      button {
        border-radius: 10px;
      }

      ul {
        position: absolute;
        left: 0;
        top: 0;
        background-color: $white;
        width: 100%;
        opacity: 0;
        visibility: hidden;
      }
    }
  }
}
