.header {
  margin-bottom: 30px;
  &__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 0;
  }
  &__logo {
    width: 80px;
    height: 80px;

    img {
      object-fit: contain;
    }
  }
  &__company {
    text-align: center;
  }
  &__flag {
    width: 80px;
    height: 80px;

    img {
      object-fit: contain;
    }
  }

  .navbar {
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    position: relative;
    z-index: 2;
    &__items {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      gap: 20px;

      li {
        a {
          padding: 15px 0;
          text-transform: capitalize;

          &.active {
            color: $orange;
          }
        }
      }
    }
    &__right {
      @extend .header__top;
      gap: 10px;
      button {
        background-color: transparent;

        svg {
          font-size: 22px;
        }
      }
    }
    .search__bar {
      position: absolute;
      top: 100%;
      right: 0;
      z-index: 9;
      max-width: 500px;
      min-width: 400px;
      display: flex;
      align-items: flex-end;
      justify-content: flex-end;

      input {
        border-radius: 5px 0 0 5px;
      }
    }
  }

  &.sticky {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
  }
}

@media (max-width: 768px) {
  .header {
    .navbar {
      justify-content: flex-end;
      &__items {
        position: fixed;
        top: 0;
        left: 0;
        flex-direction: column;
        background-color: $white;
        align-items: flex-start;
        z-index: 5;
        min-width: 250px;
        max-width: 300px;
        height: 100vh;
        gap: 0;

        padding-top: 80px;

        li {
          display: block;
          width: 100%;

          a {
            padding-left: 30px;
            display: block;

            &.active {
              background-color: $orange;
              color: $white;
            }
          }

          &:not(:last-child) {
            border-bottom: 1px solid #ddd;
          }
        }
      }
    }
  }
}
