* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
html {
  font-size: 62.5%;
}
a,
li,
p,
span,
strong,
em {
  font-size: 1.6rem;
}

body {
  font-family: $fontFamily_02;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: $fontFamily_01;
  font-weight: 600;
}
ul,
li {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

input,
select,
textarea {
  width: 100%;
  display: block;
  outline: none;
  padding: 10px 20px;
}
button {
  outline: none;
  border: none;
  background-color: transparent;
}
img {
  width: 100%;
  height: 100%;
}
a {
  color: inherit;
  text-decoration: none;
  display: inline-block;

  &:visited,
  &:hover {
    color: inherit;
  }
}

label {
  display: block;
  margin-bottom: 0.5em;
}
